<?xml version="1.0" encoding="UTF-8"?>
<peppol.certificates>
  <validation>
    <!-- Thumbprints for: 
            - PEPPOL Root TEST CA
            - PEPPOL SERVICE METADATA PUBLISHER TEST CA
            - PEPPOL ACCESS POINT TEST CA -->
    <add name="MyRootCertificates"
         rootCACertificateThumbprint=""
         intermediateSmpCACertificateThumbprint=""
         intermediateAcessPointCACertificateThumbprint=""/>
  </validation>

  <serviceCredentials>
    <add serviceName="SecurePeppolClient">
      <!-- Example for loading a certificate from the certificate store - here the
             Access Point certificate for APP_1000000008 -->
      <!--<serviceCertificate
          findValue="[keystore-thumbprint]"
          x509FindType="FindByThumbprint"
          storeName="My"
          storeLocation="[LocalMachine]" />-->
      <serviceCertificate
        filename="App_Data\Certificates\truststore.pfx"
        password="password" />
    </add>
    <!-- Other serviceName -->
    <add serviceName="*">
      <!-- Example for loading a certificate from the certificate store - here the
             Access Point certificate for APP_1000000008 -->
      <!--<serviceCertificate
          findValue="[keystore-thumbprint]"
          x509FindType="FindByThumbprint"
          storeName="My"
          storeLocation="[LocalMachine]" />-->
      <serviceCertificate
        filename="App_Data\Certificates\truststore.pfx"
        password="password" />
    </add>
  </serviceCredentials>

  <clientCredentials>
    <add endpointName="SecurePeppolClient">
      <clientCertificate
        filename="App_Data\Certificates\keystore.pfx"
        password="password" />
      <serviceCertificate
        encoded="" />
      <!-- Other possible ways to specify this certificate:
              <serviceCertificate
                filename="alfa1lab-test-truststore.cer"
                password="" />
                - this requires that the file can be found in the current directory
              <serviceCertificate
                findValue="[truststore-thumbprint]"
                x509FindType="FindByThumbprint"
                storeName="My"
                storeLocation="[LocalMachine]" />
                - this requires that the certificate has been placed in the certificate store
            -->
    </add>
    <!-- Other endpointName -->
    <add endpointName="*">
      <clientCertificate
        filename="App_Data\Certificates\keystore.pfx"
        password="password" />
      <!-- If you have a fixed endpoint, you can specify the service certificate here. -->
      <serviceCertificate
        filename="App_Data\Certificates\truststore.pfx"
        password="password" />
    </add>
  </clientCredentials>
</peppol.certificates>